extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	//- add page specific js
	script(src="/javascripts/edit-question.js" type="module" defer)
	script(src="/javascripts/edit-answer.js" type="module" defer)
	script(src="/javascripts/new-answer.js" type="module" defer)

block content

	div(class='questionContainer')
		div(class='main-links all-btn back-btn')
			a(href='/questions' class='btn log-in-submit btn2') Go to Questions
		if question
			//- if locals.authenticated
			div(class="logged-in-container")
				div(class="question-stats-container")
					div(class='test-2')
						p(class='vote-count-1') #{qVotes|0}
					div(class="question-stats-votes logged-in-votes")
						form(action=`/questions/${question.id}/votes` method='post')
							input(type='hidden' name='qUpVote' value=1)
							button(class='arrow-up-container hide-btn')
								div(class='arrow-up')
						//- a(href=`/questions/delete/${question.id}` class='arrow-up-container')
						//- 	div(class='arrow-up')
						div(class='up-votes') upVote
						div(class='down-votes') downVote
						form(action=`/questions/${question.id}/votes` method='post')
							input(type='hidden' name='qDownVote' value=0)
							button(class='arrow-up-container hide-btn')
								div(class='arrow-down')
						//- a(href=`/questions/delete/${question.id}` class='arrow-down-container')
						//- 	div(class='arrow-down')
				div(class='question-summary-container')
					div(class="question-summary edit-question-question")
						div(class="question single-question")
							p(id='questionContent' class="question single-question") #{question.content}
							div(class='edit-form' id='test')
								//- +validationErrorSummary(errors)
								p(id='errorUpdateQuestion' class='edit-errors')
								form(action=`/questions/${question.id}` method='post' id='updateQuestionContent' style='display:none;')
									input( style='display:none' name='questionId' value=question.id)
									textarea(name="questionContent" id='textareaUpdateQuestion' class='edit-input') #{question.content}
									//- button(id='submitUpdateQuestionButton' class='log-in-submit new-question-btn edit-submit-btn edit-cancel-btn') Submit Update
				div(class="question-summary-footer")
					div(class="question-summary-user")
						div(class="question-summary-info")
							<span class='asked-by'>asked by: <span class='time'>#{question.User.username}</span></span>
								div(class='edit-btns')
									button(type='submit' form='updateQuestionContent' id='submitUpdateQuestionButton' class='log-in-submit new-question-btn edit-submit-btn edit-cancel-btn' style='display:none;') Submit Update
									button(id='cancelUpdateQuestionButton' class='log-in-submit new-question-btn edit-cancel-btn' style='display:none;') Cancel Update
			if locals.authenticated
				if locals.user.id === question.User.id
					div(class='single-question-btns')
						a(href=`/questions/delete/${question.id}` class='btn log-in-submit delete-btn') Delete Question
						button(id='updateQuestionButton' class='btn log-in-submit edit-btn') Edit Question

			div(class='answer-title')
				a(id='numberOfAnswers' class='answer-title') <span class='time answer-time'>#{answers.length|0}</span> flo-Answer(s)

			div(class='log-in-form question-post answers-container answersContainer' id='answersContainer')
				each answer in answers
					div(class="logged-in-container answer-container")
						div(class="question-stats-container answer-username-container" id='newQuestionContainer')
							div(class="question-stats-container answer-stats-container")
								div(class='test-2')
									p(class='vote-count-1 answer-vote-count') #{answer.votes|0}
								div(class="question-stats-votes answer-stats-votes logged-in-votes")
									form(action=`/answers/${answer.id}/votes` method='post')
										input(type='hidden' name='aUpVote' value=1)
										button(class='arrow-up-container hide-btn')
											div(class='arrow-up')
									div(class='up-votes') upVote
									div(class='down-votes') downVote
									form(action=`/answers/${answer.id}/votes` method='post')
										input(type='hidden' name='aDownVote' value=0)
										button(class='arrow-up-container hide-btn')
											div(class='arrow-down')
							div(class='up-votes answer-username answer-info')
								<span class='asked-by'>answered at: #{answer.createdAt.toLocaleDateString()}
								<span class='time'>by #{answer.User.username}</span></span>
						div(class='question-summary-container')
							div(class="question-summary edit-question-question")
								div(id=`answerContent_${answer.id}` class="question answer single-question") #{answer.content}
									div(class='edit-form')
										p(id=`errorUpdateAnswer_${answer.id}` style={color:'red'})
										form(action=`/answers/${answer.id}` method='post' id=`updateAnswerContent_${answer.id}` style='display:none')
											input( style='display:none' name='answerId' value=answer.id)
											textarea(name="answerContent" id=`textareaUpdateAnswer_${answer.id}` class='edit-input edit-text-area answer-text-area') #{answer.content}
						//- div(class='edit-btns answer-edit-btns')
						//- 	button(type='submit' form='updateAnswerContent' id='submitUpdateAnswerButton' class='log-in-submit new-question-btn edit-submit-btn edit-cancel-btn') Submit Answer Update
						//- 	button(id='cancelUpdateAnswerButton' class='log-in-submit new-question-btn edit-cancel-btn') Cancel Answer Update
						div(class="question-summary-footer")
							div(class='edit-btns answer-edit-btns after-cancel')
								button(type='submit' form='updateAnswerContent' id=`submitUpdateAnswerButton_${answer.id}` class='btn log-in-submit delete-btn answer-delete answer-edit-submit after-cancel' style='display:none') Submit Update
								button(id=`cancelUpdateAnswerButton_${answer.id}` class='btn log-in-submit delete-btn answer-delete answer-edit-cancel after-cancel' style='display:none') Cancel Update
							div(class="question-summary-user")
								if locals.authenticated
									if locals.user.id === answer.userId
										div(class='single-question-btns answer-btns')
											a(href=`/answers/delete/${answer.id}` id='deleteAnswerButton' class='btn log-in-submit delete-btn answer-delete') Delete Answer
											button(id=`updateAnswerButton_${answer.id}` class='btn log-in-submit delete-btn answer-delete answer-edit') Edit Answer
											//- a(href=`/questions/delete/${question.id}`  class='btn log-in-submit delete-btn answer-delete answer-edit') Edit Answer
											//- <span class='asked-by'>asked by: <span class='time'>#{question.User.username}</span></span>
					div(class='single-question-btns')



			//- p ------------------------Post your Answer------------------------

			p(id=`errorNewAnswer` class='errors')

			form(action='/answers' method='post' id='newAnswer' class='log-in-form question-post')


				//- div(class='errors')
				//- 	+validationErrorSummary(errors)

				//- input(type='hidden' name='_csrf' value=csrfToken)
				input( style='display:none' name='questionId' value=question.id)
				textarea(class='log-in-input answer-input' type="textarea" id="content" name="answerContent" placeholder="Leave a flo-Answer..")

				if locals.authenticated
					div(class='new-question-footer answer-submission-btns')
						button(type='submit' class='btn log-in-submit new-question-btn answer-submit-btn') Submit

						button(type='reset' id='cancelNewAnswer' class='btn log-in-submit new-question-btn delete-btn') Cancel
					div(class='test-4')
						div(class='test-4')
				else
					div(class='please-log-in')
						<span class='subtitle-1'> Please <a href='/login' class=' subtitle-1 time log-link'>Log in</a> to post your flo-answer</span>
					div(class='test-4')
						div(class='test-4')
					//- a(href='/login') Please login to ask a flo question
					//-need updateQuestionContent,updateQuestionButton as Id for dynamic editing; Do not change. Otherwise, need to update in js file
					//- button not in form because it will not submit the texarea, but the testarea will be showned once the button is clicked
			//- div #{question.Answers.length|0} Answers

		else
			div This question does not exist.
