extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	div(class='title-container')
		h3(class='subtitle-1 questions-title') flo-Questions
	each q in questions
		div(class="question-container")
			div(class="question-stats-container")
				div(class="question-stats-votes logged-in-votes")
					span #{q.votes}
					p votes
				div(class="question-stats-answers logged-in-answers")
					span #{q.Answers.length}
					p answers

			div(class="question-summary-container")
				div(class="question-summary")
					a(class="question-summary-link" href=`/questions/${q.id}`) #{q.content}
					//- p(class='content') #{q.content}

				div(class="question-summary-footer")
					div(class="question-summary-user")
						div(lass="question-summary-info")
							span asked on
								span(class='time')  #{q.createdAt.toLocaleDateString()}
								span  by:
								span(class='time')  #{q.User.username}
	div(class='test')
		div(class='test')
