extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	each q in questions
		//- div(class='question-container')
		//- 	div(class='tab-item')
		//- 		div(class='darker')
		//- 			a(href=`/questions/${q.id}`) Question: #{q.content}
		//- 		div(class='lighter')
		//- 			div By: #{q.User.username}
		//- 			div #{q.Answers.length} answers

		<div class="question-container">
			<div class="question-stats-container">
				<div class="question-stats-votes">
					<span>?</span>
					<p>votes</p>
				</div>
				<div class="question-stats-answers">
					<span>#{q.Answers.length}</span>
					<p>answers</p>
				</div>
			</div>

			<div class="question-summary-container">
				<a class="question-summary-link" href="/">Question #{q.id}</a>
				<div class="question-summary">
					p(class='content') #{q.content}
				</div>
				<div class="question-summary-footer">
					<div class="question-summary-user">
						<div class="question-summary-info">
							<span>asked <span class='time'>?</span> months ago by:</span>
							<a href="/"> #{q.User.username}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
