extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	div(class='title-container')
		h3(class='subtitle-1 questions-title') flo-Questions
	each q in questions
		<div class="question-container">
			<div class="question-stats-container">
				<div class="question-stats-votes">
					<span>?</span>
					<p>votes</p>
				</div>
				<div class="question-stats-answers">
					<span>#{q.Answers.length}</span>
					<p>answers</p>
				</div>
			</div>

			<div class="question-summary-container">
				<div class="question-summary">
					a(class="question-summary-link" href=`/questions/${q.id}`) #{q.content}
					//- p(class='content') #{q.content}
				</div>
				<div class="question-summary-footer">
					<div class="question-summary-user">
						<div class="question-summary-info">
							<span>asked <span class='time'>?</span> months ago by: <span class='time'>#{q.User.username}</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	div(class='test')
		div(class='test')
