extends layout.pug

include utils.pug

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/edit-question.js" type="module" defer)

block content

	div(class='questionContainer')
		div(class='main-links all-btn')
			a(href='/questions' class='btn log-in-submit btn2') Go to Questions
		if question
			if locals.authenticated
				if locals.user.id === question.User.id
				div(class="logged-in-container")
					div(class="question-stats-container")
						div(class="question-stats-votes logged-in-votes")
							span #{qUpVote|0}
							p upVotes
							span #{qDownVote|0}
							p downVotes
					div(class='question-summary-container')
						div(class="question-summary edit-question-question")
							a(href=`#` class="longer") #{question.content}
								div(class='edit-form')
									+validationErrorSummary(errors)
									form(action=`/questions/${question.id}` method='post' id='updateQuestionContent')
										input( style='display:none' name='questionId' value=question.id)
										textarea(name="questionContent" id='textareaUpdateQuestion' class='edit-input edit-text-area') #{question.content}
					div(class="question-summary-footer")
						div(class="question-summary-user")
							div(class="question-summary-info")
								<span class='asked-by'>asked by: <span class='time'>#{question.User.username}</span></span>
									div(class='edit-btns')
										button( class='log-in-submit new-question-btn edit-submit-btn edit-cancel-btn') Submit Update
										button(id='cancelUpdateQuestionButton' class='log-in-submit new-question-btn edit-cancel-btn') Cancel Update
				div(class='single-question-btns')
					a(href=`/questions/delete/${question.id}` class='btn log-in-submit delete-btn') Delete
					button(id='updateQuestionButton' class='btn log-in-submit edit-btn') Edit Question
					//-need updateQuestionContent,updateQuestionButton as Id for dynamic editing; Do not change. Otherwise, need to update in js file
					//- button not in form because it will not submit the texarea, but the testarea will be showned once the button is clicked
			//- div #{question.Answers.length|0} Answers

		else
			div This question does not exist.
